.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/mockaroon-YqUeLG7fMr4-unsplash.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero > .hero-image {
  position: relative;
  width: 70%;
  top: -7%;
  margin: auto;
  height: 100%;
  z-index: 1;
  background-image: url("../../../public/svgLOGOUCPOZIOM.svg");
  background-repeat: no-repeat;
  background-position: center;
  // filter: drop-shadow(3px 3px 3px #1c146599);
  animation: heroAnimation 3s alternate infinite ease-in-out;
}

@keyframes heroAnimation {
  from {
    filter: drop-shadow(3px 3px 3px #1c146544) hue-rotate(30deg);
    transform: scale(1.04);
  }

  to {
    filter: drop-shadow(3px 3px 3px #1c146566);
    transform: scale(1);
  }
}

@media screen and (orientation: portrait) {
  // @media screen and (max-width: 820px) {
  .hero > .hero-image {
    position: relative;
    width: 100%;
    top: 0;
    background-image: url("../../../public/svgLogoUCPION.svg");
  }
}
